# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List Data Science Tools.
* Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Java
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn
5. Keras
6. Matplotlib
7. Tensorflow
8. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335